@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
body {
    font-family: "Inconsolata", sans-serif;
    background-color: #000000;
    color: #ffffff;
}
a:link {
    color: #933da1;
}
a:visited {
    color: #933da1;
}
a:hover,a:active {
    color: #f7931a;
}
